var touchY = 0
var currentHeight = 0
var bottom = 0 // 组件向下偏移

var bottomBarHeight = 0
var componentHeight = 0
var divideRpxByPx = 0
var minHeight = 0

module.exports = {
  infoObserver: function (newVal, oldVal, ownerInstance) {
    currentHeight = 0
    bottomBarHeight = newVal.bottomBarHeight
    componentHeight = newVal.componentHeight
    divideRpxByPx = newVal.divideRpxByPx
    if (bottomBarHeight === 0) {
      bottomBarHeight = 32 // 如果没有高度，就给个高度，防止弹窗太贴底部
    }
    minHeight = divideRpxByPx * 60 + bottomBarHeight
    var instance = ownerInstance.selectComponent('#popup')
    instance.setStyle({
      bottom: bottom + 'px'
    })
  },
  touchStart: function (e) {
    touchY = e.touches[0].pageY
    currentHeight = componentHeight + bottom
  },
  touchMove: function (e, ownerInstance) {
    var offsetY = touchY - e.touches[0].pageY // 位移距离，下滑是负
    var height = currentHeight + offsetY // 手指滑动后的组件高度
    if (height > componentHeight) {
      height = componentHeight
    } else if (height < minHeight) {
      height = minHeight
    }
    bottom = height - componentHeight
    var instance = ownerInstance.selectComponent('#popup')
    instance.setStyle({
      bottom: bottom + 'px'
    })
    return false
  },
  touchEnd: function (e, ownerInstance) {
    console.log(bottom)
    if (touchY - e.changedTouches[0].pageY < 0) {
      console.log('手指下滑，收起')
      // var instance = ownerInstance.selectComponent('#popup')
      // instance.setStyle({
      //   bottom: minHeight - componentHeight + 'px',
      // })
      ownerInstance.callMethod('handlePopDown')
    } else {
      // 手指上滑，展开
      console.log('手指上滑，展开')
      // var instance = ownerInstance.selectComponent('#popup')
      // instance.setStyle({
      //   bottom: '0px',
      // })
      // bottom
      ownerInstance.callMethod('handlePopUp')
    }
  },
  bottom: bottom
}
